<% include header.html %>

    <h3><%=__('List of adds') %></h3>
    <div class="wrapper">
      <% adds.forEach(function(add){ %>
        <div class="add-wrapper">
          <h5><%= add.toSell? __('To sell') : __('To buy') %></h5>
          <p><%= add.name %></p>
          <p><span id="price"><%=add.price%></span>&nbsp;Euros</p>
          <img src="<%=add.picture %>" alt="<%=__('Add picture') %>"" height="150">
          <p><%= add.tags %></p>
        </div>
      <% }) %>
    </div>
  </body>
</html>
